<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Not?ias</title>
		</head>
	<body>
		<table>	
			<tr>
				<td>ID</td>
				<td>T?ulo</td>
				<td>Not?ia</td>
			</tr>
			<tr>
				<td><%= noticia[0].id_noticia %></td>
				<td><%= noticia[0].titulo %></td>
				<td><%= noticia[0].noticia %></td>
			</tr>
		</table>
	</body>
</html>